

.group-card{
  background-color: #FFF;
  border-radius: 0 0 5px 5px; 
}

.group-card-title-BLU{
  border-radius: 5px 5px 0 0;
  color: #FFF;
  background-color: #2578a9;
}

.group-card-title-GRAY{
  border-radius: 5px 5px 0 0; 
  color: #FFF;
  background-color: #383838;
}

.title-police{
  padding-right: 90%;
  font-family: inherit;
  font-weight: bold;
}