.inforecast-textField {
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 7px;
    padding-left: 0px;
    display:inline-block;
    width: 10em;
}

.inforecast-search-label {
	margin-right:5px;
  font-size: 20px;
  font-weight: bold;
}