
.search-view-container {
  height: 100%;
}

.search-view-stereo {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 100%;
}

.search-view-stereo-left-side {
  background: #E0E0E0;
  height: 100%;
  width: 15%;
}

.search-view-stereo-right-side {
  background: #FFFF;
  height: 100%;
  width: 79%;
}

.search-panel {
   display:inline-block;
   width: 49%;
   background-color: #FFF;
   margin-right:10px;
   height: 100%;
}

.search-view-searchButton-section{
  margin-left:50%;
}
.search-view-appliedFilters-section{    
  padding-top: 1%;
  padding-right: 10px;
  height: 90%;
  padding-left: 2%;
}
.search-view-appliedFilters-header{

  height: 20px;
  background: white;
  font-size: 20px;
  padding-top: 45px;
  padding-bottom: 55px;
  padding-left: 40px;
  padding-right: 10px;
  font-weight: bold;
  font-family: inherit;
  color:black;
  border-radius: 5px 5px 0 0; 
}
.search-view-filterList-section{
  height: 90%;
  background-color: #F5F5F5;
}
.right-side{
	width: 80%;
}

.filter{
  padding: 2% 2% 2% 2%;
  display:inline-block;

}