.login-form {
    margin: 100px auto;
    width: 400px;
}
.login-form .btn {
    font-size: 10pt;
    min-width: 35%;
    display: block;
    margin: 0 auto;
}
.navbar-brand {
    padding: 8px 15px;
}

.navbar-brand img {
    height: 40px;
}
.navbar-btn {
    margin-right: 10px;
}
.navbar .toggle-option i {
    margin-right: 5px;
}
a.icon-signout {
    margin-left: 5px;
}
.navbar-right {
    float: right;
}
.navbar {
    background-color:white;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: solid;
    margin-bottom:5px;
    padding-bottom:5px;
    height: 45px;
}