.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home-page {
    display: flex;
    flex-direction: column;
    height: auto;
}


.home-page_menuicon {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    vertical-align: bottom;
}

.home-page_logo {
    margin: 0 10px;
    border-radius: 5px;
    width: 50px;
}

.home-page_main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    min-height: 1000px;
}
.home-page_content {
    flex: 0 0 100%;
    flex-direction: column;
    height: auto;
}
