
.header {
    flex: 0 0 20px;
    padding: 20px;
    height: auto;
    background: #263238;
}

.header_menuicon {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    vertical-align: bottom;
}

.header_logo {
    margin: 0 10px;
    border-radius: 5px;
    width: 50px;
}
